################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/CarbonX/v15/Browse.VC.db
/.vs/Gomoku/v15/ipch/AutoPCH/349a8f87f4311aac/OXMAIN.ipch
/.vs/CarbonX/v15/.suo
/.vs/Gomoku/v15/ipch/AutoPCH/3d1f06afa2c4444d/AICARBONMOVE.ipch
/.vs/Gomoku/v15/ipch/AutoPCH/e9b0538f1bbe4a0c/AICARBON.ipch
/.vs/Gomoku/v15
/.vs
/Release
/ReleaseAI
